<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>United Systems</title>
        <meta name="description" content="">
        <meta name="keywords" content="">

        <!-- Favicons -->
        <link href="static/images/icons/United_Systems_icon.jpg" rel="icon">
        <link href="static/images/icons/United_Systems_icon.jpg" rel="apple-touch-icon">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Main CSS File -->
        <link href="static/assets/css/main.css" rel="stylesheet">

        <!-- CSS FILE -->
        <link href="static/css/homepage/homepage.css" rel="stylesheet">
        
        <!-- SWIPER APEND -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <!-- HOMEPAGE JS FILE -->
        <script src="static/js/homepage.js"></script>

        <!-- PURECOUNTER -->
        <link rel="stylesheet" href="https://unpkg.com/purecounterjs@1.1.0/dist/purecounter.css">
        <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    </head>

    <body class="index-page">
        <main class="main">
            <!-- HERO SECTION -->
            <section id="hero" class="hero section">
                <!-- HEADER SECTION -->
                <header id="header" class="header d-flex align-items-center position-absolute">
                    <div class="container position-relative d-flex align-items-center justify-content-between">
                        <div class="col-lg-2">
                            <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
                                <img src="static/images/logos/United_Systems_logo_e.png" alt="Company Logo" id="header-US-logo">
                            </a>
                        </div>
                        <div class="col-lg-10 d-flex align-items-center justify-content-end">
                            <nav id="navmenu" class="navmenu">
                                <ul>
                                    <li><a href="index.html" class="active">Home</a></li>
                                    <li><a href="index.html#about">About</a></li>
                                    <li><a href="index.html#services">Services</a></li>
                                    <li><a href="index.html#team">Team</a></li>
                                    <li><a href="index.html#contact">Contact</a></li>
                                </ul>
                                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                            </nav>
                        </div>
                    </div>
                </header>
                <!-- BACKGROUND IMAGE -->
                <span><img src="static/images/Cover-photos/Cover-Photo-11-enhanced-1.png" alt="Cover-Photo" data-aos="fade-in"></span>
                <!-- TITLE AND SLOGAN -->
                <div class="container">
                    <div class="row hero-title">
                        <div class="col-lg-4 offset-3 col-md-1 align-items-center justify-content-center">
                            <h2 class="hero-title" style="color: white;" data-aos="fade-right" data-aos-delay="100">WELCOME TO <br> UNITED SYSTEMS</h2>
                            <div class="row text-center ">
                                <p style="color: white;" data-aos="fade-right" data-aos-delay="200">Slogan</p>
                            </div>
                            <div class="content text-center" data-aos="fade-right" data-aos-delay="300">
                                <a href="#about" class="read-more"><span>Get Started</span><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END HERO SECTION -->

            <!-- ABOUT SECTION -->
            <section id="about" class="about section light-background">
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                  <div class="row align-items-xl-center gy-5">
            
                    <div class="col-xl-5 content">
                      <h3>About Us</h3>
                      <h2>United Systems</h2>
                      <p>With a proven track record in systems integration, United Systems provides expert guidance in selecting, implementing, and managing the right technologies. We enable you to gain complete visibility and granular control over your IT environment.</p>
                    </div>
            
                    <div class="col-xl-7">
                      <div class="row gy-4 icon-boxes">
            
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                          <div class="icon-box">
                            <i class="bi bi-hourglass-split"></i>
                            <h3>Histroy</h3>
                            <p>A privately owned company working in the field of Information Technology since 1998</p>
                          </div>
                        </div> <!-- End Icon Box -->
            
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                          <div class="icon-box">
                            <i class="bi bi-clipboard-pulse"></i>
                            <h3>Mission</h3>
                            <p> 
                              The implementation of a suite of Information Technology products and services.
                            </p>
                          </div>
                        </div> <!-- End Icon Box -->
            
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                          <div class="icon-box">
                            <i class="bi bi-eye"></i>
                            <h3>Vision</h3>
                            <p>
                              To be the trusted partner for businesses seeking to optimize their operations through cutting-edge technology integration and expert guidance.              
                            </p>
                          </div>
                        </div> <!-- End Icon Box -->
            
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                          <div class="icon-box">
                            <i class="bi bi-graph-up-arrow"></i>
                            <h3>Values</h3>
                            <p>At United Systems, we believe in building long-term partnerships with our clients, providing ongoing support and continuous improvement.</p>
                          </div>
                        </div> <!-- End Icon Box -->
            
                      </div>
                    </div>
            
                  </div>
                </div>
              
            </section>
            <!-- END ABOUT SECTION -->  
             
            <!-- PARTNERS SECTION -->
            <section id="partners" class="section">
                <div class="col-md-10 offset-md-1">
                  <!-- SECTION TITLE  -->
                  <div class="row align-items-xl-center gy-5">
                    <div class="container section-title" id="partners-title" data-aos="fade-in">
                      <h2>Our Partners</h2>
                    </div>
                  </div>
                    <!-- SWIPER SLIDER -->
                    <section class="swiper mySwiper">
                      <div class="swiper-wrapper align-items-xl-center logo-size align-items-center">
                          <div class="swiper-slide"><img src="static/images/logos/Partners/Aruba-logo.png" alt="Aruba-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/Ruijie-logo.png" alt="Ruijie-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/Sophos-logo.png" alt="sophos-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/Legrand-logo.png" alt="Legrand-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/AutoDesk-logo.png" alt="AutoDesk-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/blackstone-logo.png" alt="blackstone-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/Dell-logo.png" alt="Dell-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/epson-logo.png" alt="epson-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/HP-logo.png" alt="HP-logo" id="HP-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/kaspersky-logo.png" alt="kaspersky-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/Lenovo-logo.jpeg" alt="Lenovo-logo" id="Lenovo-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/Microsoft-logo.png" alt="Microsoft-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/logitech-logo.png" alt="logitech-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/Panduit-logo.png" alt="Panduit-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/schneider-electric-logo.png" alt="schneider-electric-logo"></div>
                          <div class="swiper-slide"><img src="static/images/logos/Partners/trend-micro-logo.png" alt="trend-micro-logo"></div>
                      </div>
                      </br><div class="swiper-pagination"></div>
                      <!-- <div class="swiper-button-next"></div> 
                      <div class="swiper-button-prev"></div> -->   
                    </section>    
                </div>
            </section>
            <!-- END PARTNERS SECTION -->

            <!-- SERVICES SECTION -->
            <section id="services" class="services section light-background">
                <!-- Section Title -->
                <div class="container section-title"  data-aos="fade-up">
                  <h2 id="services-title">Services</h2>
                </div><!-- End Section Title -->
              
                <!-- Services Container -->
                <div class="services-container">
                  <div class="container">
                    <div class="row gy-4">
                      <!-- CARD 1  -->
                      <div class="col-lg-6">
                        <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <div class="service-card icon-box smoke-white-background" data-aos="fade-up" data-aos-delay="100"> 
                                <h2 class="blue-color bold">Hardware Solutions</h2>
                                <p>I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click "Edit Text" or double-click me.</p>
                              </div>
                            </div>
                            <div class="flip-card-back">
                              <div class="service-card icon-box smoke-white-background" data-aos="fade-up" data-aos-delay="100"> 
                                <h2>Back of hardware Solutions</h2>
                                <p>I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click "Edit Text" or double-click me.</p>
                                <a href="#" class="learn-more">+ Learn More</a>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- CARD 2 -->
                    <div class="col-lg-6">
                      <div class="service-card icon-box smoke-white-background" data-aos="fade-up" data-aos-delay="200">
                          <h2 class="blue-color bold">Network Services</h2>
                          <p>I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click "Edit Text" or double-click me.</p>
                          <a href="#" class="learn-more">+ Learn More</a>
                      </div>
                    </div>
              
              
                    <div class="row gy-4">
                      <div class="col-lg-6">
                        <div class="service-card smoke-white-background" data-aos="fade-up" data-aos-delay="300">
                          <h2 class="blue-color bold">Sofware Solutions</h2>
                          <p>I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click "Edit Text" or double-click me.</p>
                          <a href="#" class="learn-more">+ Learn More</a>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="service-card" data-aos="fade-up" data-aos-delay="400">
                          <h2 class="blue-color bold">IT Management Services</h2>
                          <p>I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click "Edit Text" or double-click me.</p>
                          <a href="#" class="learn-more">+ Learn More</a>
                        </div>
                      </div>
                    </div>
                  
                  
                  </div>
                </div>
            </section>
            <!-- END SERVICES SECTION -->

            <!-- STATS SECTION -->
            <section id="stats" class="stats section">
              
                <img src="static/images/stats-background.webp" alt="" data-aos="fade-in">
                
                <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
                    <div class="row gy-4">
                        <!-- CLIENTS COUNTER -->
                        <div class="col-lg-4 col-md-6">
                            <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                            <h3 class="stats-subtitle blue-color">Clients</h3>
                            </div>
                        </div>
                        <!-- PROJECTS COUNTER -->
                        <div class="col-lg-4 col-md-6">
                            <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                            <h3 class="stats-subtitle blue-color">Projects</h3>
                            </div>
                        </div>
                        <!-- YEARS COUNTER -->
                        <div class="col-lg-4 col-md-6">
                            <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="27" data-purecounter-duration="1" class="purecounter"></span>
                            <h3 class="stats-subtitle">Years</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATS SECTION -->  

            <!-- TEAM SECTION -->
            <section id="team" class="team section light-background">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                  <h2>Meet Our Team</h2>
                </div>
                <!-- End Section Title -->
            
                <div class="container">
                  <div class="row gy-5">
            
                    <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
                      <div class="member-img">
                        <img src="static/images/Personal-Photos/cropped-image.png" class="img-fluid" alt="">
                        <div class="social">
                          <a href="#"><i class="bi bi-twitter-x"></i></a>
                          <a href="#"><i class="bi bi-facebook"></i></a>
                          <a href="#"><i class="bi bi-instagram"></i></a>
                          <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                      </div>
                      <div class="member-info text-center">
                        <h4>Ashraf Khalil</h4>
                        <span>Chief Executive Officer</span>
                      </div>
                    </div><!-- End Team Member -->
            
                    <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
                      <div class="member-img">
                        <img src="static/images/Personal-Photos/cropped-image-2.png" class="img-fluid" alt="">
                        <div class="social">
                          <a href="#"><i class="bi bi-twitter-x"></i></a>
                          <a href="#"><i class="bi bi-facebook"></i></a>
                          <a href="#"><i class="bi bi-instagram"></i></a>
                          <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                      </div>
                      <div class="member-info text-center">
                        <h4>Mohamed Abueid</h4>
                        <span>Sales Director</span>
                      </div>
                    </div><!-- End Team Member -->
            
                    <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
                      <div class="member-img">
                        <img src="static/images/Personal-Photos/cropped-image-3.png" class="img-fluid" alt="">
                        <div class="social">
                          <a href="#"><i class="bi bi-twitter-x"></i></a>
                          <a href="#"><i class="bi bi-facebook"></i></a> 
                          <a href="#"><i class="bi bi-instagram"></i></a>
                          <a href="#"><i class="bi bi-linkedin"></i></a>
                        </div>
                      </div>
                      <div class="member-info text-center">
                        <h4>Amr Alaa</h4>
                        <span>Project Manager</span>
                      </div>
                    </div><!-- End Team Member -->
                  </div>
            
                </div>
            
              </section>
            <!-- END TEAM SECTION -->

            <!-- CONTACT SECTION -->
            <section id="contact" class="contact section">
                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Contact Us</h2>
                    <p>Leave a message and we will get back as soon as possible</p>
                </div>
                <!-- End Section Title -->
            
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                    <div class="row gy-4">
                        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center align-items-start">
                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <div class="info-item address-card" data-aos="fade" data-aos-delay="200">
                                        <i class="bi bi-geo-alt"><span class="contact-us-title"> Address</span></i>
                                        <h3>HQ Branch:</h3>
                                        <p>7 El Hegaz Street </br>  Mohandseen </br> Giza </br> Egypt</p>
                                        <p>P.O. Box 12411, Giza</p></br>
                                        <h3>Branch:</h3>
                                        <p>Dubai FZC | Block B-B38-146 Sharjah Free Zone | UAE</p></br>
                                    </div>
                                </div>
                                <!-- End Info Item -->
            
                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="300">
                                        <i class="bi bi-telephone"> Call Us</i>
                                        <div class="contact-info">
                                          <h3>Egypt</h3>
                                      
                                          <p>Phone: +2 02 33368140</p>
                                          <p>Phone: +2 02 33368141</p>
                                          <p>Phone: +2 02 33368142</p>
                                              <!-- <ul>
                                                  <li><p>Operator: EXT.1100</p></li>
                                                  <li><p>Sales: EXT.1101</p></li>
                                                  <li><p>Support: EXT.1102</p></li>
                                                  <li><p>Accounting: EXT.1130</p></li>
                                              </ul> -->
                                          <p>Fax : +2 02 33368143</p></br>
                                          <h3>UAE</h3>
                                          <p>Phone: +971 586620039</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Info Item -->
            
                                <div class="col-md-6">
                                    <div class="info-item padding-bottom justify-content-center" data-aos="fade" data-aos-delay="400">
                                        <i class="bi bi-envelope"> Email Us</i>
                                        <a href="mailto:sales@us-unitedsystems.com"><h3 id="contact-email">sales@us-unitedsystems.com</h3></a>
                                    </div>
                                </div>
                                <!-- End Info Item -->
            
                                <div class="col-md-6">
                                    <div class="info-item" data-aos="fade" data-aos-delay="500">
                                        <i class="bi bi-clock"> Open Hours</i>
                                    </br>
                                        <h3 id="open-hours">Sunday - Thursday</h3>
                                        <h3 id="open-hours">9:00AM - 05:00PM</h3>
                                    </div>
                                </div>
                                <!-- End Info Item -->
                            </div>
                        </div>
                        
                        <!-- CONTACT FORM -->
                        <!-- <div class="col-lg-6 justify-content-center align-items-center">
                            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                            <form action="{% url 'Website:contact_submit' %}" method="post" id="contact-form" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                                {% csrf_token %}
                                
                                    {% if messages %}
                                    <div class="alert alert-success">
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
            
                                    <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY"></div>
                                    <button type="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div> -->
                        <!-- End Contact Form -->
            
                        <div class="col-lg-6" data-aos="fade" data-aos-delay="600">
                            <div class="row gy-4">
                                <section id="map-section">
                                    <div class="info-item text-center">
                                        <h3>Our Location</h3>
                                    </div>
                                    <div class="map" id="map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.4883662082343!2d31.196162655071046!3d30.05153288833102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145841005c6ffd1b%3A0xf61babbe8f636ae7!2sUnited%20Systems%20Co.!5e0!3m2!1sen!2seg!4v1734246929914!5m2!1sen!2seg" 
                                            width="600" 
                                            height="100%" 
                                            style="border:0;" 
                                            allowfullscreen=""
                                            loading="lazy" 
                                            referrerpolicy="no-referrer-when-downgrade">
                                        </iframe>
                                    </div>
                                </section>   
                            </div>               
                        </div>
            
                    </div>
                </div>
            </section>
            <!-- END CONTACT SECTION -->

            <!-- FOOTER SECTION -->
            <footer id="footer" class="footer position-relative blue-background-footer">

                <div class="container footer-top">
                  <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-about">
                      <a href="/index.html" class="logo d-flex align-items-center">
                        <span class="sitename">UNITED SYSTEMS CO.</span>
                      </a>
                      <p>Established in 1998, our mission is to empower businesses with automated smart integration services that drive efficiency and growth.</p>          <div class="social-links d-flex mt-4">
                        <!-- <a href=""><i class="bi bi-twitter-x"></i></a> -->
                        <div class="footer-social-links d-flex">
                          <a href="https://www.facebook.com/profile.php?id=61567083145480"><i class="bi bi-facebook"></i></a>
                          <!-- <a href=""><i class="bi bi-instagram"></i></a> -->
                          <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                      </div>
                    </div>
            
                    <div class="col-lg-2 col-6 footer-links">
                      <h4>Useful Links</h4>
                      <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="#about">About us</a></li>
                        <li><a href="#services">Services</a></li>
                      </ul>
                    </div>
            
                    <div class="col-lg-2 col-6 footer-links">
                      <h4>Our Services</h4>
                      <ul>
                        <li><a href="#">Hardware Solutions</a></li>
                        <li><a href="#">Network Solutions</a></li>
                        <li><a href="#">Sofware Solutions</a></li>
                        <li><a href="#">IT Management Services</a></li>
                      </ul>
                    </div>
            
                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                      <h4>Contact Us</h4>
                      <p>7 El Hegaz St.</p> 
                      <p>Mohandseen | Giza | Egypt</p>  
                        
                      <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
                      <p><strong>Email: </strong><a href="mailto:sales@us-unitedsystems.com">sales@us-unitedsystems.com</a></p>
                    </div>
            
                  </div>
                </div>
            
                <div class="container mt-4 footer-end-section">
                    <div class="row">
                        <div class="col-md-12 d-flex flex-column justify-content-center">
                            <p class="text-center">© <span>Copyright</span> <strong class="sitename">United Systems</strong> <span>All Rights Reserved</span></p>
                            <div class="credits text-center">
                                Made by <a href="https://linktr.ee/helmyelfiky" id="helmyelfiky">Helmy Elfiky</a>
                            </div>
                        </div>
                    </div>
                </div>
            
            </footer>
            <!-- END FOOTER SECTION -->

            <!-- Scroll Top -->
            <a href="#header" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
            
            <!-- Preloader -->
            <div id="preloader"></div>

        </main>

        <!-- Vendor JS Files -->
        <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="static/assets/vendor/php-email-form/validate.js"></script>
        <script src="static/assets/vendor/aos/aos.js"></script>
        <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>

        <!-- Main JS File -->
        <script src="static/assets/js/main.js"></script>

        <!-- INITIALIZE AOS -->
        <script>
            AOS.init();
        </script>
    </body>
</html>
